asgiref==3.5.2
backports.zoneinfo==0.2.1
CodeConvert==3.0.2
Django==3.0.4
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-link-shortener==0.5
django-models-ext==1.1.10
django-short-url==1.1.6
django-six==1.0.4
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.0
furl==2.1.3
isoweek==1.3.3
orderedmultidict==1.0.1
PyJWT==1.7.1
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
screen==1.0.1
shortuuid==1.0.9
six==1.16.0
sqlparse==0.4.2
TimeConvert==3.0.2
tzdata==2022.2
tzlocal==4.2
urllib3==1.25.8
xlwt==1.3.0
